{
    "openapi": "3.0.3",
    "info": {
      "title": "Socure RiskOS™ API",
      "version": "2025-01-01.orion",
      "description": "*RiskOS™ documentation site is Socure confidential and proprietary information, and is only intended for viewing by authorized persons.*\n\nThe Socure RiskOS™ APIs provide a unified API framework for risk evaluation. They use predictable, resource-oriented URLs, accept JSON-formatted request bodies, return JSON-formatted responses, and follow standard HTTP methods, status codes, and authentication practices.\n\nYou can test RiskOS™ APIs in the **Sandbox environment**, which allows you to simulate requests without impacting live data. The request endpoint determines whether the request is directed to the Sandbox or Production (live) environment.\n"
    },
    "servers": [
      {
        "url": "https://riskos.socure.com",
        "description": "Production server (versioned)",
        "x-environment": "production"
      },
      {
        "url": "https://riskos.sandbox.socure.com",
        "description": "Sandbox server (for testing and development, versioned)",
        "x-environment": "sandbox"
      }
    ],
    "security": [
      {
        "BearerAuth": []
      }
    ],
    "tags": [
      {
        "name": "Evaluation",
        "description": "The Evaluation API is the primary endpoint for performing Risk Evaluations in RiskOS™. \nRequests must include data that conforms to the schema defined for the specific Solution.\nSuccessful evaluation responses include a `decision` value from the following list: * `APPROVE`: The evaluation is approved; proceed with fulfillment/onboarding and the happy‑path experience.<br /> * `REVIEW`: Additional assessment is required; route to manual review and/or configured step‑up checks per workflow logic.<br /> * `DECLINE`: The evaluation has failed the required checks and the entity is declined.\n> **Note:** **`APPROVE`**, **`REVIEW`**, and **`DECLINE`** are the default decision values. Customers can customize the response to added or to delete default values based on specific workflow needs."
      },
      {
        "name": "Feedback",
        "description": "Use the Feedback APIs to submit decision feedback, either individually or in bulk, to enhance fraud detection models and improve decision accuracy."
      }
    ],
    "paths": {
      "/api/evaluation": {
        "post": {
          "tags": [
            "Evaluation"
          ],
          "summary": "Start an Evaluation",
          "operationId": "postEvaluation",
          "security": [
            {
              "BearerAuth": []
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/XApiVersionHeader"
            }
          ],
          "description": "Performs a new Evaluation in RiskOS™.  <br /><br /> Select the type of evaluation below to access the corresponding schema.\n",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ConsumerOnboarding"
                    },
                    {
                      "$ref": "#/components/schemas/GenericPassthrough"
                    },
                    {
                      "$ref": "#/components/schemas/TrustAndSafety"
                    },
                    {
                      "$ref": "#/components/schemas/BankAccountVerification"
                    },
                    {
                      "$ref": "#/components/schemas/BusinessOnboarding"
                    },
                    {
                      "$ref": "#/components/schemas/AccountTakeover"
                    },
                    {
                      "$ref": "#/components/schemas/WorkforceVerification"
                    }
                  ]
                },
                "examples": {
                  "Consumer Onboarding": {
                    "$ref": "#/components/examples/ConsumerOnboardingRequest"
                  },
                  "Generic Passthrough": {
                    "$ref": "#/components/examples/GenericPassthroughRequest"
                  },
                  "Trust and Safety": {
                    "$ref": "#/components/examples/TrustAndSafetyRequest"
                  },
                  "Bank Account Verification": {
                    "$ref": "#/components/examples/BankAccountVerificationRequest"
                  },
                  "Business Onboarding": {
                    "$ref": "#/components/examples/BusinessOnboardingRequest"
                  },
                  "Login and Authentication": {
                    "$ref": "#/components/examples/AccountTakeOverRequest"
                  },
                  "Workforce Verification": {
                    "$ref": "#/components/examples/WorkforceVerificationRequest"
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "The request was processed successfully.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EvalResponseWithOutSocureData"
                  },
                  "examples": {
                    "Consumer Onboarding": {
                      "$ref": "#/components/examples/ConsumerOnboardingResponse"
                    },
                    "Generic Passthrough": {
                      "$ref": "#/components/examples/GenericPassthroughResponse"
                    },
                    "Trust and Safety": {
                      "$ref": "#/components/examples/TrustAndSafetyResponse"
                    },
                    "Bank Account Verification": {
                      "$ref": "#/components/examples/BankAccountVerificationResponse"
                    },
                    "Business Onboarding": {
                      "$ref": "#/components/examples/BusinessOnboardingResponse"
                    },
                    "Login and Authentication": {
                      "$ref": "#/components/examples/AccountTakeOverResponse"
                    },
                    "Workforce Verification": {
                      "$ref": "#/components/examples/WorkforceVerificationResponse"
                    }
                  }
                }
              }
            },
            "201": {
              "description": "The request was partially processed (async integrations).",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EvalResponseWithOutSocureData"
                  },
                  "examples": {
                    "partialSuccessExample": {
                      "summary": "Example 201 Response (Business Onboarding)",
                      "value": {
                        "id": "BIZ-9876",
                        "eval_id": "8a4f6c12-3b9e-4d07-9f2c-e5a1b7d8f3c4",
                        "workflow": "business_onboarding",
                        "eval_status": "evaluation_paused",
                        "decision": "REVIEW",
                        "status": "OPEN",
                        "sub_status": "Pending Docs",
                        "workflow_id": "4a2288ff-b3a8-4e69-89dd-069d5e2bcb44",
                        "workflow_version": "3.7.0",
                        "eval_source": "API",
                        "eval_start_time": "2024-12-02T10:30:24.456771162Z",
                        "data_enrichments": [
                          {
                            "enrichment_name": "Deliver OTP SMS",
                            "enrichment_endpoint": "https://idplus.dev.socure.com/api/1.0/otp/send",
                            "enrichment_provider": "SocureOTP",
                            "status_code": 200,
                            "request": {
                              "channel": "email",
                              "destination": "darshanvaishnav24@gmail.com"
                            },
                            "response": {
                              "error": "",
                              "verificationId": "5ac71c12-32df-4fb2-ab76-5493444f3f97"
                            },
                            "is_source_cache": false
                          },
                          {
                            "enrichment_name": "Verify OTP SMS",
                            "enrichment_endpoint": "https://idplus.dev.socure.com/api/1.0/otp/verify",
                            "enrichment_provider": "SocureOTP",
                            "status_code": 200,
                            "request": {
                              "otp": "508070",
                              "verificationId": "5ac71c12-32df-4fb2-ab76-5493444f3f97"
                            },
                            "response": {
                              "attemptCount": 1,
                              "error": "",
                              "status": "approved",
                              "verificationId": "5ac71c12-32df-4fb2-ab76-5493444f3f97"
                            },
                            "is_source_cache": false
                          },
                          {
                            "enrichment_name": "Socure Address risk",
                            "enrichment_endpoint": "https://sandbox.dev.socure.com/api/3.0/EmailAuthScore",
                            "enrichment_provider": "Socure",
                            "status_code": 200,
                            "request": {
                              "city": "bakersfield",
                              "country": "US",
                              "deviceSessionId": "234ac3ff-3ed1-42de-8f33-8f332febfa54",
                              "dob": "1990-05-17",
                              "email": "johnsmith123+test@example.com",
                              "modules": [
                                "addressrisk"
                              ],
                              "nationalId": "454236793"
                            },
                            "response": {
                              "addressRisk": {
                                "reasonCodes": [
                                  "I704",
                                  "I705",
                                  "I708"
                                ],
                                "score": 0.01,
                                "scores": [
                                  {
                                    "name": "addressrisk_cus1",
                                    "score": 0.01,
                                    "version": "10.0"
                                  },
                                  {
                                    "name": "address_risk_pri",
                                    "score": 0.01,
                                    "version": "9.0"
                                  }
                                ]
                              },
                              "referenceId": "4ca693ee-af2a-45ef-9688-834683ac1b34"
                            },
                            "is_source_cache": false,
                            "total_attempts": 1
                          },
                          {
                            "enrichment_name": "SocureCNam",
                            "enrichment_endpoint": "https://mfa-orchestrator-service-9.webapps.us-east-1.product-dev.socure.link/api/2.0/cnam",
                            "enrichment_provider": "SocureCNam",
                            "status_code": 200,
                            "request": {
                              "phoneNumber": "+1-312-555-1234"
                            },
                            "response": {
                              "callerName": "Alice Johnson",
                              "callerType": "BUSINESS",
                              "countryCode": "US",
                              "phoneNumber": "+1-415-555-5678",
                              "valid": true
                            },
                            "is_source_cache": false,
                            "total_attempts": 1
                          }
                        ]
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request – The request was invalid or cannot be otherwise served."
            },
            "401": {
              "description": "Unauthorized - No valid API key provided."
            },
            "403": {
              "description": "Forbidden - IP Address was rejected."
            },
            "404": {
              "description": "Not Found - The requested resource does not exist."
            },
            "429": {
              "description": "Too Many Requests - The rate limit for this API has been exceeded."
            },
            "500": {
              "description": "Internal Server Error – An unexpected condition occurred on the server."
            }
          }
        }
      },
      "/api/evaluation/monitoring": {
        "post": {
          "x-environment": [
            "production"
          ],
          "tags": [
            "Evaluation"
          ],
          "summary": "Enroll an evaluation in Watchlist Monitoring",
          "operationId": "watchlistMonitoring",
          "security": [
            {
              "BearerAuth": []
            }
          ],
          "parameters": [
            {
              "$ref": "#/components/parameters/XApiVersionHeader"
            }
          ],
          "description": "Enables or disables watchlist monitoring for data in an existing evaluation. When monitoring is enabled, each entity in the evaluation is automatically checked daily against the specified lists for any additions, modifications, or removals that may affect their watchlist risk.\n",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "reference_id",
                    "list_type",
                    "operation",
                    "userConsent"
                  ],
                  "properties": {
                    "reference_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier assigned to a Watchlist enrichment after a RiskOS™ workflow is finalized. You can retrieve this value from the response of a successful call to the Evaluation endpoint.\n",
                      "example": "ae94dd2e-46fe-4e58-bf0b-45ef1d4588a2"
                    },
                    "list_type": {
                      "type": "string",
                      "enum": [
                        "watchlist"
                      ],
                      "description": "Specifies the type of monitoring list to which the entity (identified by its enrichment `referenceId`) will be subscribed.\nPassing `watchlist` enables monitoring for changes across all watchlist types defined in your Monitoring policy.\n",
                      "example": "watchlist"
                    },
                    "operation": {
                      "type": "string",
                      "enum": [
                        "enable",
                        "disable"
                      ],
                      "description": "Specifies the action to be taken for monitoring enrollment.\n- `enable`: Activates Watchlist Monitoring for the specified evaluation.\n- `disable`: Deactivates Watchlist Monitoring for the specified evaluation.         \n",
                      "example": "enable"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "The request was processed successfully.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "required": [
                      "success",
                      "monitoring_status"
                    ],
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "description": "Indicates whether the monitoring enrollment operation was successful.",
                        "example": true
                      },
                      "monitoring_status": {
                        "type": "string",
                        "enum": [
                          "enabled",
                          "disabled"
                        ],
                        "description": "Current status of the monitoring subscription after the operation has been processed.\n",
                        "example": "enabled"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request - The request was unacceptable."
            },
            "401": {
              "description": "Unauthorized - An invalid API key was provided."
            },
            "403": {
              "description": "Forbidden - The client does not have permission to access this resource."
            },
            "404": {
              "description": "Not Found - The requested resource does not exist."
            },
            "500": {
              "description": "Internal Server Error – Unexpected server issue."
            }
          }
        }
      },
      "/api/evaluation/{eval_id}": {
        "patch": {
          "tags": [
            "Evaluation"
          ],
          "summary": "Partially Update an Evaluation",
          "operationId": "patchEvaluation",
          "security": [
            {
              "BearerAuth": []
            }
          ],
          "description": "Updates risk data or metadata for a previously submitted evaluation request that is in a **paused** state. The request is identified by `eval_id`, and updates can be partial—any data not included in the request will remain unchanged. The body of the `PATCH` request must follow the same structure as the original `POST` request.\n> **Note:** Once an evaluation is completed, its data becomes immutable. Any attempt to update it will result in a failed request.\n",
          "parameters": [
            {
              "$ref": "#/components/parameters/EvalId"
            },
            {
              "$ref": "#/components/parameters/XApiVersionHeader"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ConsumerOnboardingPatch"
                    },
                    {
                      "$ref": "#/components/schemas/TrustAndSafety"
                    },
                    {
                      "$ref": "#/components/schemas/BankAccountVerification"
                    },
                    {
                      "$ref": "#/components/schemas/BusinessOnboarding"
                    },
                    {
                      "$ref": "#/components/schemas/AccountTakeover"
                    }
                  ],
                  "description": "A subset of the request body used in flows such as Consumer Onboarding, Business Onboarding, and Bank Account Verification.\n"
                },
                "examples": {
                  "updateEmail": {
                    "summary": "Update Email Address",
                    "value": {
                      "id": "onb-12345",
                      "timestamp": "2023-12-01T08:15:30.456Z",
                      "workflow": "consumer_onboarding",
                      "data": {
                        "individual": {
                          "email": "updated.email@example.com"
                        }
                      }
                    }
                  },
                  "updatePhone": {
                    "summary": "Update Phone Number",
                    "value": {
                      "id": "onb-12345",
                      "timestamp": "2023-12-01T08:15:30.456Z",
                      "workflow": "consumer_onboarding",
                      "data": {
                        "individual": {
                          "phone_number": "+1-202-555-9999"
                        }
                      }
                    }
                  },
                  "updateDevice": {
                    "summary": "Update Device Information",
                    "value": {
                      "id": "onb-12345",
                      "timestamp": "2023-12-01T08:15:30.456Z",
                      "workflow": "consumer_onboarding",
                      "data": {
                        "device": {
                          "id": "DEVICE-123456",
                          "ip_address": "192.168.1.10",
                          "session": "UPDATED-SESSION-1234"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "The evaluation was updated successfully.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EvalResponseWithOutSocureData"
                  },
                  "examples": {
                    "patchSuccessExample": {
                      "summary": "Example 200 Response",
                      "value": {
                        "id": "onb-12345",
                        "eval_id": "6dc8f39c-ecc3-4fe0-9283-fc8e5f99e816",
                        "workflow": "consumer_onboarding",
                        "eval_status": "evaluation_in_progress",
                        "decision": "REVIEW",
                        "status": "OPEN",
                        "sub_status": "Verification Pending",
                        "eval_start_time": "2024-12-02T10:30:00.123Z",
                        "eval_end_time": "2024-12-02T10:32:00.456Z"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request - The request was unacceptable."
            },
            "401": {
              "description": "Unauthorized - An invalid API key was provided."
            },
            "404": {
              "description": "Not Found - The requested resource does not exist."
            },
            "500": {
              "description": "500 Internal Server Error – Unexpected server issue."
            }
          }
        },
        "get": {
          "tags": [
            "Evaluation"
          ],
          "summary": "Retrieve Evaluation Data",
          "operationId": "getEvaluation",
          "security": [
            {
              "BearerAuth": []
            }
          ],
          "description": "Retrieves evaluation data for a workflow by providing the unique `eval_id`.\n",
          "parameters": [
            {
              "$ref": "#/components/parameters/EvalId"
            },
            {
              "$ref": "#/components/parameters/XApiVersionHeader"
            }
          ],
          "responses": {
            "200": {
              "description": "The evaluation was retrieved successfully.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EvalResponseWithOutSocureData"
                  },
                  "examples": {
                    "getSuccessExample": {
                      "summary": "Example Response",
                      "value": {
                        "id": "onb-12345",
                        "eval_id": "6dc8f39c-ecc3-4fe0-9283-fc8e5f99e816",
                        "workflow": "consumer_onboarding",
                        "eval_status": "evaluation_completed",
                        "decision": "ACCEPT",
                        "status": "OPEN",
                        "sub_status": "Accept",
                        "workflow_version": "3.7.0",
                        "eval_source": "API",
                        "eval_start_time": "2024-12-02T10:28:24.456771162Z",
                        "eval_end_time": "2024-12-02T10:29:10.999Z",
                        "tags": [
                          "none"
                        ],
                        "score": 51,
                        "review_queues": [
                          "Default Queue"
                        ],
                        "data_enrichments": [
                          {
                            "enrichment_name": "Socure Address risk",
                            "enrichment_endpoint": "https://sandbox.dev.socure.com/api/3.0/EmailAuthScore",
                            "enrichment_provider": "Socure",
                            "status_code": 200,
                            "request": {
                              "city": "bakersfield",
                              "country": "US",
                              "deviceSessionId": "234ac3ff-3ed1-42de-8f33-8f332febfa54",
                              "dob": "1990-05-17",
                              "email": "johnsmith123+test@example.com",
                              "modules": [
                                "addressrisk"
                              ],
                              "nationalId": "454236793"
                            },
                            "response": {
                              "addressRisk": {
                                "reasonCodes": [
                                  "I704",
                                  "I705",
                                  "I708"
                                ],
                                "score": 0.01,
                                "scores": [
                                  {
                                    "name": "addressrisk_cus1",
                                    "score": 0.01,
                                    "version": "10.0"
                                  },
                                  {
                                    "name": "address_risk_pri",
                                    "score": 0.01,
                                    "version": "9.0"
                                  }
                                ]
                              },
                              "referenceId": "4ca693ee-af2a-45ef-9688-834683ac1b34"
                            },
                            "is_source_cache": false,
                            "total_attempts": 1
                          },
                          {
                            "enrichment_name": "Socure Email Risk",
                            "enrichment_endpoint": "https://sandbox.dev.socure.com/api/3.0/EmailAuthScore",
                            "enrichment_provider": "Socure",
                            "status_code": 200,
                            "request": {
                              "modules": [
                                "emailrisk"
                              ],
                              "email": "johnsmith123+test@example.com"
                            },
                            "response": {
                              "emailRisk": {
                                "reasonCodes": [
                                  "I520",
                                  "I555"
                                ],
                                "score": 0.01,
                                "scores": [
                                  {
                                    "name": "email_risk_cus1",
                                    "score": 0.01,
                                    "version": "10.0"
                                  }
                                ]
                              },
                              "referenceId": "92201637-1ec8-46b4-9537-236971eb6f9b"
                            },
                            "is_source_cache": false,
                            "total_attempts": 1
                          },
                          {
                            "enrichment_name": "Socure Phone Risk",
                            "enrichment_endpoint": "https://sandbox.dev.socure.com/api/3.0/EmailAuthScore",
                            "enrichment_provider": "Socure",
                            "status_code": 200,
                            "request": {
                              "modules": [
                                "phonerisk"
                              ],
                              "email": "johnsmith123+test@example.com"
                            },
                            "response": {
                              "phoneRisk": {
                                "reasonCodes": [
                                  "I618",
                                  "I608"
                                ],
                                "score": 0.01,
                                "scores": [
                                  {
                                    "name": "RiskPhoneUS.V6__Custom.Atlanticus.2324.Norm.V1",
                                    "score": 0.01,
                                    "version": "6.0"
                                  }
                                ]
                              },
                              "referenceId": "68bb36f1-7e32-4600-bebf-26a6cdd39f8b"
                            },
                            "is_source_cache": false,
                            "total_attempts": 1
                          }
                        ]
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request - The request was unacceptable."
            },
            "401": {
              "description": "Unauthorized - An invalid API key was provided."
            },
            "404": {
              "description": "Not Found - The requested resource does not exist."
            },
            "429": {
              "description": "Too Many Requests - The rate limit for this API has been exceeded."
            },
            "500": {
              "description": "Internal Server Error – An unexpected condition occurred on the server."
            }
          }
        }
      },
      "/api/evaluation/{eval_id}/documents": {
        "get": {
          "tags": [
            "Evaluation"
          ],
          "summary": "Download Evaluation Documents",
          "operationId": "downloadEvaluationDocuments",
          "security": [
            {
              "BearerAuth": []
            }
          ],
          "description": "Retrieves a structured ZIP archive of documents associated with a specific evaluation ID. Contents may include consumer-uploaded identity documents and attachments added by reviewers during a case evaluation. \nThe archive is organized into folders as follows:\n``` user_uploaded/     # Consumer-submitted identity documents ├─ document_verification/ │  ├─ documentfrontDoc_Front_1_blob.jpg │  └─ documentbackDoc_Back_1_blob.jpg └─ vouched_id_verification/\n  └─ Doc_Selfie_1_blob.jpg\n\ncase_attachments/   # Case attachments added via the RiskOS™ Dashboard ├─ identity.pdf └─ additional_doc.pdf ```\n",
          "parameters": [
            {
              "$ref": "#/components/parameters/EvalId"
            },
            {
              "$ref": "#/components/parameters/XApiVersionHeader"
            }
          ],
          "responses": {
            "200": {
              "description": "A ZIP archive containing the requested documents.",
              "content": {
                "application/zip": {
                  "schema": {
                    "type": "string",
                    "format": "binary"
                  },
                  "example": "zip <binary>"
                }
              },
              "headers": {
                "Content-Disposition": {
                  "description": "Specifies the filename of the returned ZIP archive.",
                  "schema": {
                    "type": "string",
                    "example": "attachment; filename=\"{eval_id}_document.zip\""
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request - The request was unacceptable."
            },
            "401": {
              "description": "Unauthorized - An invalid API key was provided."
            },
            "403": {
              "description": "Forbidden - The client does not have permission to access this resource."
            },
            "404": {
              "description": "Not Found - The requested resource does not exist."
            },
            "500": {
              "description": "Internal Server Error – An unexpected condition occurred on the server."
            }
          }
        }
      },
      "/api/evaluation/{eval_id}/state": {
        "put": {
          "tags": [
            "Evaluation"
          ],
          "summary": "Update an Evaluation State",
          "operationId": "updateEvaluationState",
          "security": [
            {
              "BearerAuth": []
            }
          ],
          "description": "Updates evaluation metadata, including `decision`, `status`, and `sub_status`, and optionally adds notes or a base64-encoded attachment.\n",
          "parameters": [
            {
              "$ref": "#/components/parameters/EvalId"
            },
            {
              "$ref": "#/components/parameters/XApiVersionHeader"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workflow",
                    "decision",
                    "status"
                  ],
                  "properties": {
                    "workflow": {
                      "type": "string",
                      "example": "consumer_onboarding",
                      "description": "Your environment-specific Workflow identifier. You can find this value in the RiskOS™ Platform."
                    },
                    "decision": {
                      "type": "string",
                      "description": "The new decision value to apply. Supported values include `ACCEPT`, `REJECT`, `REVIEW`, `RESUBMIT`, and `CANCEL`.",
                      "example": "REVIEW"
                    },
                    "status": {
                      "type": "string",
                      "description": "The new status to apply. Supported values include `OPEN`, `CLOSED`, and `ON HOLD`.",
                      "example": "OPEN"
                    },
                    "sub_status": {
                      "type": "string",
                      "description": "An optional sub-status to provide more detail about the current status (e.g., `In Review`, `Pending Docs`).",
                      "example": "In Review"
                    },
                    "notes": {
                      "type": "string",
                      "description": "Optional notes to add context or additional information to the evaluation.",
                      "example": "Verification documents pending re-check"
                    },
                    "attachments": {
                      "type": "array",
                      "description": "An array of attachment files, where each item includes a `name` and a base64-encoded `file` string.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "file_name": {
                            "type": "string",
                            "example": "case.jpeg",
                            "description": "The name of the file to be attached."
                          },
                          "file_data": {
                            "type": "string",
                            "format": "byte",
                            "description": "The file content, encoded as a base64 string.",
                            "example": "JVBERi0xLjUKJeLjz9MKMyAwIG9iago8PC9..."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "The evaluation state was updated successfully.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EvalResponseWithOutSocureData"
                  },
                  "examples": {
                    "stateUpdateSuccess": {
                      "summary": "Example 200 PUT Response",
                      "value": {
                        "id": "STATE-7890",
                        "eval_id": "8a4f6c12-3b9e-4d07-9f2c-e5a1b7d8f3c4",
                        "workflow": "account_takeover",
                        "decision": "REVIEW",
                        "status": "OPEN",
                        "sub_status": "Further Analysis",
                        "eval_status": "evaluation_in_progress"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request - The request was unacceptable."
            },
            "401": {
              "description": "Unauthorized - An invalid API key was provided."
            },
            "403": {
              "description": "Forbidden - IP Address was rejected."
            },
            "404": {
              "description": "Not Found - The requested resource does not exist."
            },
            "500": {
              "description": "Internal Server Error – An unexpected condition occurred on the server."
            }
          }
        }
      },
      "/api/feedback": {
        "put": {
          "tags": [
            "Feedback"
          ],
          "operationId": "FeedbackAPI",
          "parameters": [
            {
              "$ref": "#/components/parameters/XApiVersionHeader"
            }
          ],
          "security": [
            {
              "BearerAuth": []
            }
          ],
          "summary": "Feedback Update",
          "description": "Allows you to programmatically provide feedback to an existing evaluation in RiskOS™.",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "workflow",
                    "fraud_label"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "9876543",
                      "description": "The customer-side identifier (`id`) provided during the original evaluation request."
                    },
                    "workflow": {
                      "type": "string",
                      "example": "consumer_onboarding",
                      "description": "The environment-specific Workflow identifier that the ID is associated with."
                    },
                    "fraud_label": {
                      "type": "string",
                      "example": "fraud",
                      "enum": [
                        "fraud",
                        "non-fraud"
                      ],
                      "description": "The fraud label for an application. Accepted values are `fraud` and `non-fraud`."
                    },
                    "fraud_type": {
                      "type": "string",
                      "example": "synthetic",
                      "description": "The fraud typology or category that best describes the nature of the fraud."
                    },
                    "notes": {
                      "type": "string",
                      "description": "Optional notes or additional information to be added to the case."
                    },
                    "recorded_at": {
                      "type": "string",
                      "example": "2022-05-19",
                      "format": "date",
                      "description": "The timestamp indicating when the event was recorded. Use the `YYYY-MM-DD` format as defined by the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) standard."
                    },
                    "recorded_by": {
                      "type": "string",
                      "example": "John Doe",
                      "description": "The name or identifier of the person who recorded the fraud."
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "tag1",
                        "tag2"
                      ],
                      "description": "Tags to categorize or label the fraud case. Useful for filtering, reporting, or internal tracking."
                    }
                  }
                },
                "example": {
                  "id": "9876543",
                  "workflow": "consumer_onboarding",
                  "fraud_label": "fraud",
                  "fraud_type": "synthetic",
                  "notes": "This is a synthetic fraud case",
                  "recorded_at": "2022-05-19",
                  "recorded_by": "John Doe",
                  "tags": [
                    "tag1",
                    "tag2"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK - Success.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/FraudFeedbackResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request - The request was unacceptable."
            },
            "401": {
              "description": "Unauthorized - An invalid API key was provided."
            },
            "404": {
              "description": "Not Found - The requested resource does not exist."
            },
            "429": {
              "description": "Too Many Requests - The rate limit for this API has been exceeded.                                                                                 "
            },
            "500": {
              "description": "Internal Server Error – An unexpected condition occurred on the server."
            }
          }
        }
      },
      "/api/feedback/import": {
        "post": {
          "tags": [
            "Feedback"
          ],
          "operationId": "FeedbackUpdateCSV",
          "parameters": [
            {
              "$ref": "#/components/parameters/XApiVersionHeader"
            }
          ],
          "security": [
            {
              "BearerAuth": []
            }
          ],
          "summary": "Feedback Import",
          "description": "Allows you to upload a CSV file to provide programmatic feedback to RiskOS™.",
          "requestBody": {
            "required": true,
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "required": [
                    "file"
                  ],
                  "properties": {
                    "file": {
                      "type": "string",
                      "format": "binary",
                      "description": "The CSV file containing feedback data. The file must include all columns as shown in the sample format below. Columns without data can be left empty, but they must still be present in the file.\n\nSample CSV data:\n```csv\nid,workflow,fraud_label,fraud_type,notes,recorded_at,recorded_by,tags\nEL-1234ABC123,personal_loans,fraud,synthetic,notes,2022-05-20,jonathan@effectiv.ai,\nEL-1234ABC,personal_loans,fraud,synthetic,notes,2022-05-20,jonathan@effectiv.ai,\n```\n"
                    }
                  }
                },
                "example": {
                  "file": "<binary/csv file content>"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK - Success.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/FraudFeedbackImportResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request - The request was unacceptable."
            },
            "401": {
              "description": "Unauthorized - An invalid API key was provided."
            },
            "404": {
              "description": "Not Found - The requested resource does not exist. The client should not repeat this request without modification."
            },
            "429": {
              "description": "Too Many Requests - The rate limit for this API has been exceeded."
            },
            "500": {
              "description": "Internal Server Error – An unexpected condition occurred on the server."
            }
          }
        }
      }
    },
    "components": {
      "securitySchemes": {
        "BearerAuth": {
          "type": "http",
          "scheme": "bearer",
          "description": "Socure provides separate RiskOS™ keys for the Sandbox and Production environments. Be sure to use the correct key when making a request.\n"
        }
      },
      "parameters": {
        "XApiVersionHeader": {
          "name": "X-API-Version",
          "in": "header",
          "description": "Specifies the API version used for the request.",
          "required": false,
          "schema": {
            "type": "string",
            "example": "2025-01-01.orion"
          }
        },
        "EvalId": {
          "name": "eval_id",
          "in": "path",
          "required": true,
          "description": "The system-generated unique ID for the evaluation. Capture this value from the initial `POST` `/api/evaluation` response.",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "example": "e9c170f2-b3e4-423b-a373-5d6e1e9b23f8"
        }
      },
      "schemas": {
        "Address": {
          "type": "object",
          "properties": {
            "line_1": {
              "type": "string",
              "description": "Street number or house name and street name",
              "example": "200 Key Square St"
            },
            "line_2": {
              "type": "string",
              "description": "Additional street address, like landmarks",
              "example": ""
            },
            "locality": {
              "type": "string",
              "description": "City, town or village",
              "example": "New York City"
            },
            "minor_admin_division": {
              "type": "string",
              "description": "Minor administrative division like the city area or district",
              "example": ""
            },
            "major_admin_division": {
              "type": "string",
              "description": "Major administrative division like the state, province, or oblast",
              "example": "NY"
            },
            "country": {
              "type": "string",
              "description": "Country in ISO 3166-1 alpha-2 format. Ex: 'US', 'CA'",
              "example": "US"
            },
            "postal_code": {
              "type": "string",
              "description": "The postal or ZIP code",
              "example": "12345"
            },
            "type": {
              "type": "string",
              "example": "HOME",
              "description": "The type of the address like Home, Office"
            }
          }
        },
        "Inquiries": {
          "description": "The inquiry type. Below are the possible values.\n- `AVAILABILITY`: Used to confirm a bank account's availability.\n- `OWNERSHIP`: Used to verify a bank account's ownership.\n",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "AVAILABILITY",
            "OWNERSHIP"
          ]
        },
        "Amount": {
          "type": "object",
          "description": "Represents a monetary amount with its associated currency.",
          "properties": {
            "amount": {
              "type": "number",
              "format": "double",
              "description": "The monetary value, represented as a numeric value.",
              "example": 120000
            },
            "currency": {
              "type": "string",
              "description": "The currency code in ISO 4217 format (e.g., USD for US dollars).",
              "example": "USD"
            }
          }
        },
        "AccountView": {
          "type": "object",
          "description": "A read-only snapshot of the account’s balances and recent activity.",
          "properties": {
            "available_balance": {
              "$ref": "#/components/schemas/Amount"
            },
            "current_balance": {
              "$ref": "#/components/schemas/Amount"
            },
            "last_activity_at": {
              "type": "string",
              "format": "date-time",
              "example": "2022-03-21T21:50:07.623Z"
            }
          }
        },
        "AccountSnapshot": {
          "type": "object",
          "description": "Represents a snapshot of the account’s state at a specific point in time.",
          "properties": {
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "description": "The timestamp indicating when the evaluation was initiated, in ISO 8601 / RFC 3339 format.\n",
              "example": "2022-09-01T12:34:56.789Z"
            },
            "account_view": {
              "$ref": "#/components/schemas/AccountView"
            }
          }
        },
        "Account": {
          "type": "object",
          "description": "Defines the schema of an bank account.",
          "properties": {
            "type": {
              "type": "string",
              "enum": [
                "CHECKING",
                "SAVINGS"
              ],
              "example": "CHECKING",
              "description": "Account Type"
            },
            "account_number": {
              "type": "string",
              "example": "4111111111111111",
              "description": "Bank account number"
            },
            "routing_number": {
              "type": "string",
              "example": "1283673312",
              "description": "Routing number associated with the account"
            },
            "swift_bic": {
              "description": "Swift/BIC Code of the account",
              "type": "string",
              "example": "CH-123"
            },
            "opened_at": {
              "description": "ISO 8601/ RFC 3339 date-time. Date the account was opened.",
              "type": "string",
              "format": "date-time",
              "example": "2022-05-26T05:02:09.985Z"
            },
            "institution_name": {
              "description": "Name of the institution (e.g. XYZ bank)",
              "type": "string",
              "example": "Chase"
            },
            "id": {
              "type": "string",
              "maxLength": 255,
              "example": "78456158930",
              "description": "Client provided unique Account ID.\n"
            },
            "institution_address": {
              "$ref": "#/components/schemas/Address"
            },
            "account_inquiries": {
              "$ref": "#/components/schemas/Inquiries"
            },
            "account_snapshot": {
              "$ref": "#/components/schemas/AccountSnapshot"
            },
            "custom": {
              "type": "object",
              "description": "Send any additional, customer-specific data in this field.",
              "example": {
                "key1": "stringValue",
                "key2": true,
                "key3": 100,
                "key4": {
                  "customObjKey1": 200
                }
              },
              "additionalProperties": {}
            }
          }
        },
        "DocumentVerificationConfig": {
          "type": "object",
          "description": "The configurations for the document request transaction.",
          "properties": {
            "send_message": {
              "type": "boolean",
              "description": "Set to `true` (boolean) to enable the SMS text message containing the document request URL. This field is set to `false` by default.\n> **Note:** SMS behavior varies by region:\n> - **US & Canada**: Messages are sent from our approved short code `33436`.\n> - **All other countries**: Messages are sent from our long code `+15103301986`.\n",
              "example": false
            },
            "language": {
              "type": "string",
              "description": "Specifies the language package for the Capture App. Below are the possible values.\n- Arabic: `ar`\n- Arabic (Saudi Arabia): `ar-sa`\n- Armenian: `hy`\n- Bengali: `bn`\n- Chinese (Hong Kong): `zh-hk`\n- Chinese (Simplified): `zh-cn`\n- Chinese (Traditional): `zh-tw`\n- Czech: `cs-cz`\n- Danish: `da-dk`\n- Dutch: `nl-nl`\n- English: `en`\n- English (Australian): `en-au`\n- English (Canadian): `en-ca`\n- English (United Kingdom): `en-gb`\n- English (United States): `en-us`\n- Finnish: `fi-fi`\n- French: `fr`\n- French (Canada): `fr-ca`\n- German: `de-de`\n- Haitian Creole: `ht`\n- Hebrew: `he-il`\n- Hindi: `hi-in`\n- Hungarian: `hu-hu`\n- Indonesian: `id-id`\n- Italian: `it`\n- Italian (Switzerland): `it-ch`\n- Japanese: `ja-jp`\n- Korean: `ko`\n- Malay: `ms-my`\n- Norwegian: `no-no`\n- Polish: `pl-pl`\n- Portuguese (Brazil): `pt-br`\n- Portuguese (Portugal): `pt-pt`\n- Romanian (Moldova): `ro-mo`\n- Romanian (Romania): `ro-ro`\n- Russian: `ru`\n- Slovak: `sk-sk`\n- Spanish: `es`\n- Spanish (Argentina): `es-ar`\n- Spanish (International): `es-001`\n- Spanish (Mexico): `es-mx`\n- Spanish (Spain): `es-es`\n- Spanish (US): `es-us`\n- Swedish: `sv-se`\n- Tagalog: `tl`\n- Thai: `th-th`\n- Turkish: `tr-tr`\n- Urdu: `ur`\n- Vietnamese: `vi`\n",
              "example": "en-us",
              "default": "en-us",
              "enum": [
                "ar",
                "ar-sa",
                "bn",
                "cs-cz",
                "da-dk",
                "de-de",
                "en",
                "en-au",
                "en-ca",
                "en-gb",
                "en-us",
                "es",
                "es-001",
                "es-ar",
                "es-es",
                "es-mx",
                "es-us",
                "fi-fi",
                "fr",
                "fr-ca",
                "he-il",
                "hi-in",
                "ht",
                "hu-hu",
                "hy",
                "id-id",
                "it",
                "it-ch",
                "ja-jp",
                "ko",
                "ms-my",
                "nl-nl",
                "no-no",
                "pl-pl",
                "pt-br",
                "pt-pt",
                "ro-mo",
                "ro-ro",
                "ru",
                "sk-sk",
                "sv-se",
                "th-th",
                "tl",
                "tr-tr",
                "ur",
                "vi",
                "zh-cn",
                "zh-hk",
                "zh-tw"
              ]
            },
            "use_case_key": {
              "type": "string",
              "description": "The name of the flow (created in RiskOS™) to use with this transaction.\n> **Note**: If the value is incorrect or not provided, the transaction uses the flow marked as **Default** in RiskOS™.\n",
              "example": "flow_1"
            },
            "redirect": {
              "type": "object",
              "description": "Optional URL settings that redirect the consumer after the document capture and upload process is cancelled or completed on the Capture App.",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Specifies the redirect destination URL.\n> **Note**: This field is required if `redirect` is provided.\n",
                  "example": "https://www.example.com"
                },
                "method": {
                  "type": "string",
                  "description": "The redirect method.\n> **Note**: This field is required if `redirect` is provided.\n",
                  "example": "GET",
                  "default": "POST",
                  "enum": [
                    "GET",
                    "POST"
                  ]
                },
                "headers": {
                  "type": "object",
                  "description": "Specifies an optional object where you can define custom headers.\n",
                  "example": {}
                },
                "delay": {
                  "type": "number",
                  "description": "Adds a delay before redirecting, specified in milliseconds.\n",
                  "example": 3000
                }
              }
            },
            "document_type": {
              "type": "string",
              "description": "Enables a simplified Capture App flow and allows you to select a default document type for the transaction using one of the values below.\n- `license`: Driver's license\n- `passport`: Passport\n\n> **Note**: Passing `documentType` with the value `license`  or `passport` implements a simplified Capture App flow that skips the Selected ID Type Screen and starts the flow on the Document Capture Screen.\n",
              "example": "license"
            }
          }
        },
        "Docv": {
          "type": "object",
          "properties": {
            "transaction_token": {
              "type": "string",
              "description": "The transaction token from the Document Request API response (v5). Use this if integrated with Socure's DocV solution.\n",
              "example": "1558769a-f069-48b1-b273-bd885dae1383"
            },
            "config": {
              "$ref": "#/components/schemas/DocumentVerificationConfig"
            }
          }
        },
        "Otp": {
          "type": "object",
          "description": "Contains the OTP data for the transaction.\n",
          "properties": {
            "code": {
              "type": "string",
              "description": "The one-time passcode.",
              "example": ""
            },
            "resend": {
              "type": "boolean",
              "description": "Set to `true` to trigger a resend of the OTP.",
              "example": false
            }
          }
        },
        "UserConsent": {
          "type": "boolean",
          "description": "Indicates if the consumer has provided consent. This field must be set to `true` in order for the transaction to be processed; otherwise a 400 error will be returned.\n> **Note**: A `null` value can be passed in the field to skip the eCBSV module and still process the transaction with the other modules included in the request.\n",
          "example": true
        },
        "ConsentTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when the user provided consent, specified in ISO 8601 format. If no value is provided, defaults to the current timestamp of the evaluation.\n> **Note**: Although the `consentTimestamp` parameter is optional, it's crucial to provide it when using the `ecbsv` module to meet the 90-day consent window set by the SSA for compliance with the eCBSV service.\n",
          "example": "2020-09-13T23:11:12.000Z"
        },
        "PreviousReferenceID": {
          "type": "string",
          "maxLength": 36,
          "description": "The `referenceId` of a previous Socure transaction. Allows you to link multiple transactions together. ",
          "example": "e9c170f2-b3e4-423b-a373-5d6e1e9b23f8"
        },
        "UserName": {
          "type": "string",
          "description": "The username associated with a consumer's account.",
          "example": "johnsmith1979"
        },
        "DriverLicense": {
          "type": "string",
          "description": "The driver's license identification number.",
          "example": "000000000"
        },
        "DriverLicenseState": {
          "type": "string",
          "description": "The two letter postal code of the issuing state.",
          "example": "NY"
        },
        "AdditionalContext": {
          "type": "object",
          "description": "Use this field to pass additional data required by specific Socure products. Additional fields are typically optional and should only be used if explicitly stated in the product documentation.",
          "properties": {
            "user_consent": {
              "$ref": "#/components/schemas/UserConsent"
            },
            "consent_timestamp": {
              "$ref": "#/components/schemas/ConsentTimestamp"
            },
            "previous_reference_id": {
              "$ref": "#/components/schemas/PreviousReferenceID"
            },
            "user_name": {
              "$ref": "#/components/schemas/UserName"
            },
            "disclosure_purpose": {
              "type": "string",
              "enum": [
                "GLBA_502(e)"
              ],
              "description": "This field must be set to `GLBA_502(e)` to support acceptable use of the product. Data contributed to Sigma First-Party Fraud is Non-Public Information (NPI) that may only be further disclosed pursuant to the GLBA fraud exception.\n",
              "example": "GLBA_502(e)",
              "maxLength": 255
            },
            "entity_type": {
              "type": "string",
              "description": "The entity type. Possible values are `Individual`, `Organization`, `Vessel`, `Aircraft`, `Others`."
            },
            "entity_name": {
              "type": "string",
              "description": "The entity's full name. Must not contain special characters."
            },
            "accept_list": {
              "type": "boolean",
              "description": "Set to `true` if the entity was accepted to conduct business with your organization. The default setting is `false`.\n"
            },
            "notes": {
              "type": "string",
              "description": "Optional notes that capture details about known risks when conducting business with the entity. Only use this field if the `accept_list` is set to `true`.\n",
              "example": "Was reviewed and identified to be a false positive. Risk was accepted"
            },
            "driver_license": {
              "$ref": "#/components/schemas/DriverLicense"
            },
            "driver_license_state": {
              "$ref": "#/components/schemas/DriverLicenseState"
            }
          }
        },
        "Channel": {
          "type": "string",
          "description": "Specifies the mode of interaction on the consumer's end.  <br /><br /> Available values include: `web`, `mobile`, `pos`, and `other`.\n",
          "example": "mobile",
          "enum": [
            "web",
            "mobile",
            "pos",
            "other"
          ]
        },
        "LineOfBusiness": {
          "type": "string",
          "maxLength": 255,
          "description": "Optional free-form field that allows to pass on the line of business the request originates from.\n",
          "example": "..."
        },
        "IPAddress": {
          "type": "string",
          "description": "The consumer's IP address in IPv4 decimal or IPv6 hexadecimal format.\n",
          "example": "1.2.3.4"
        },
        "Device": {
          "type": "object",
          "description": "Use this field to provide external device data, e.g. originating from a third party data intelligence provider.",
          "properties": {
            "id": {
              "type": "string",
              "description": "Unique customer side identifier for device.",
              "example": "9876543"
            },
            "session": {
              "type": "string",
              "description": "Unique customer side identifier for device session.",
              "example": "567h89e293r8h3"
            },
            "fingerprint": {
              "type": "string",
              "description": "Unique customer side identifier for device fingerprint. This could be same as the `id`.",
              "example": "9823rh23hr9r23"
            },
            "fingerprint_provider": {
              "type": "string",
              "description": "Name of the fingerprint provider used to generate the fingerprint and/or id.",
              "example": "internal"
            },
            "user_agent": {
              "type": "string",
              "example": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.85 Safari/537.36"
            },
            "device_type": {
              "type": "string",
              "example": "Mobile"
            },
            "is_known": {
              "type": "boolean",
              "example": false
            },
            "first_seen_time": {
              "type": "string",
              "format": "date-time",
              "description": "RFC 3339 date-time string",
              "example": "2022-07-28T06:10:54.298Z"
            },
            "last_seen_time": {
              "type": "string",
              "format": "date-time",
              "description": "RFC 3339 date-time string",
              "example": "2022-07-28T06:10:54.298Z"
            },
            "timezone_mismatch": {
              "type": "boolean",
              "example": true
            },
            "ip_address": {
              "type": "string",
              "example": "127.0.0.1"
            },
            "is_ip_bad_proxy": {
              "type": "boolean",
              "example": false
            },
            "is_ip_proxy": {
              "type": "boolean",
              "example": false
            },
            "ip_risk_score": {
              "type": "number",
              "format": "float",
              "example": 52.5
            },
            "ip_isp": {
              "type": "string",
              "example": "XYZ Communications"
            },
            "ip_country_code": {
              "type": "string",
              "example": "US"
            },
            "ip_city": {
              "type": "string",
              "example": "New York"
            },
            "ip_region": {
              "type": "string",
              "example": "NY"
            },
            "is_ip_tor": {
              "type": "boolean",
              "example": false
            },
            "is_emulator": {
              "type": "boolean",
              "example": false
            },
            "custom": {
              "type": "object",
              "description": "Send any additional, customer-specific data in this field.",
              "example": {
                "key1": "stringValue",
                "key2": true,
                "key3": 100,
                "key4": {
                  "customObjKey1": 200
                }
              },
              "additionalProperties": {}
            }
          }
        },
        "ConsumerOnboarding": {
          "title": "Consumer Onboarding",
          "type": "object",
          "required": [
            "workflow",
            "id",
            "timestamp",
            "data"
          ],
          "properties": {
            "workflow": {
              "type": "string",
              "example": "consumer_onboarding",
              "description": "Your environment-specific workflow identifier. You can find this value in the RiskOS™ Dashboard."
            },
            "id": {
              "type": "string",
              "description": "Required, customer-defined unique identifier for the request. <br /><br /> This value must be unique for each evaluation. Reusing an ID causes RiskOS™ to treat the request as a re-run and can impact processing behavior, results, and downstream workflows.",
              "example": "onb-12345"
            },
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "description": "The timestamp indicating when the evaluation was initiated, in ISO 8601 / RFC 3339 format.\n",
              "example": "2022-09-01T12:34:56.789Z"
            },
            "data": {
              "type": "object",
              "description": "The main payload for the Consumer Onboarding workflow.",
              "properties": {
                "individual": {
                  "type": "object",
                  "description": "Represents core information about the primary consumer.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A unique identifier for a consumer provided by the customer, used across various use cases.",
                      "example": "9876543"
                    },
                    "given_name": {
                      "type": "string",
                      "description": "The consumer's given name.",
                      "example": "Dwayne",
                      "maxLength": 240
                    },
                    "family_name": {
                      "type": "string",
                      "description": "The consumer's family name.",
                      "example": "Denver",
                      "maxLength": 240
                    },
                    "suffix": {
                      "type": "string",
                      "description": "A suffix for the consumer's name, if applicable (e.g., Jr., Sr., III).",
                      "example": "JR."
                    },
                    "national_id": {
                      "type": "string",
                      "description": "The consumer's national identification number. For US consumer's, this can be a nine-digit Social Security Number (SSN) or Individual Tax Identification Number (ITIN). Partial SSNs (last four digits) are also accepted. Hyphens are optional.\n",
                      "example": "461118208"
                    },
                    "date_of_birth": {
                      "type": "string",
                      "format": "date",
                      "description": "The consumer's date of birth in the format YYYY-MM-DD, compliant with RFC 3339.",
                      "example": "1975-04-02"
                    },
                    "email": {
                      "type": "string",
                      "description": "The consumer's email address.",
                      "example": "john.doe@example.com"
                    },
                    "alternate_email": {
                      "type": "string",
                      "description": "The consumer's alternate email address.",
                      "example": "doe.john@example.com"
                    },
                    "phone_number": {
                      "type": "string",
                      "description": "The consumer’s phone number. The API expects the standard E.164 format (e.g., +12025550147) but tolerates hyphens and spaces for user convenience.\nExample formats:\n- United States: `+13475550100`\n- United Kingdom: `+447911123456`\n- Brazil: `+5511987654321`\n- India: `+919876543210`\n- Australia: `+61412345678`\n",
                      "example": "+1-202-555-0147"
                    },
                    "alternate_phone_number": {
                      "type": "string",
                      "description": "The consumer’s phone number in E.164 format, which includes the country code (e.g., `+` followed by international dialing code and number). Hyphens are optional. \n",
                      "example": "+1-555-202-0147"
                    },
                    "gender": {
                      "type": "string",
                      "enum": [
                        "Male",
                        "Female",
                        "Self Identify"
                      ],
                      "description": "The consumer's gender.\n",
                      "example": "Male"
                    },
                    "address": {
                      "$ref": "#/components/schemas/Address"
                    },
                    "account": {
                      "$ref": "#/components/schemas/Account"
                    },
                    "docv": {
                      "$ref": "#/components/schemas/Docv"
                    },
                    "otp": {
                      "$ref": "#/components/schemas/Otp"
                    },
                    "additional_context": {
                      "$ref": "#/components/schemas/AdditionalContext"
                    },
                    "di_session_token": {
                      "type": "string",
                      "description": "Token required to extract Device Intelligence (DI) signals.",
                      "example": "SESSION-ABC123"
                    },
                    "custom": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Send any additional, customer-specific data for this consumer in this field."
                    }
                  }
                },
                "additional_individuals": {
                  "description": "Include details of additional consumers if the evaluation involves multiple people. This field allows you to expand the evaluation scope beyond the primary consumer.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "A unique identifier for an consumer provided by the customer, used across various use cases.",
                        "example": "9876543"
                      },
                      "given_name": {
                        "type": "string",
                        "description": "The consumer's given name.",
                        "example": "Dwayne",
                        "maxLength": 240
                      },
                      "family_name": {
                        "type": "string",
                        "description": "The consumer's family name.",
                        "example": "Denver",
                        "maxLength": 240
                      },
                      "suffix": {
                        "type": "string",
                        "description": "A suffix for the consumer's name, if applicable (e.g., Jr., Sr., III).",
                        "example": "JR."
                      },
                      "national_id": {
                        "type": "string",
                        "description": "The consumer's national identification number. For US consumer, this can be a nine-digit Social Security Number (SSN) or Individual Tax Identification Number (ITIN). Partial SSNs (last four digits) are also accepted. Hyphens are optional.\n",
                        "example": "461118208"
                      },
                      "date_of_birth": {
                        "type": "string",
                        "format": "date",
                        "description": "The consumer's date of birth in the format YYYY-MM-DD, compliant with RFC 3339.",
                        "example": "1975-04-02"
                      },
                      "email": {
                        "type": "string",
                        "description": "The consumer's email address.",
                        "example": "john.doe@example.com"
                      },
                      "alternate_email": {
                        "type": "string",
                        "description": "The consumer's alternate email address.",
                        "example": "doe.john@example.com"
                      },
                      "phone_number": {
                        "type": "string",
                        "description": "The consumer’s phone number. The API accepts E.164 format (e.g., `+12025550147`) but tolerates hyphens and spaces for user convenience.\nExample formats:\n- United States: `+13475550100`\n- United Kingdom: `+447911123456`\n- Brazil: `+5511987654321`\n- India: `+919876543210`\n- Australia: `+61412345678`\n",
                        "example": "+1-202-555-0147"
                      },
                      "alternate_phone_number": {
                        "type": "string",
                        "description": "The consumer’s alternate phone number. The API accepts E.164 format (e.g., `+12025550147`) but tolerates hyphens and spaces for user convenience.\n",
                        "example": "+1-555-202-0147"
                      },
                      "gender": {
                        "type": "string",
                        "enum": [
                          "Male",
                          "Female",
                          "Self Identify"
                        ],
                        "description": "The consumer's gender.\n",
                        "example": "Male"
                      },
                      "address": {
                        "$ref": "#/components/schemas/Address"
                      },
                      "account": {
                        "$ref": "#/components/schemas/Account"
                      },
                      "docv": {
                        "$ref": "#/components/schemas/Docv"
                      },
                      "additional_context": {
                        "$ref": "#/components/schemas/AdditionalContext"
                      },
                      "di_session_token": {
                        "type": "string",
                        "description": "Token required to extract Device Intelligence (DI) signals.",
                        "example": "SESSION-ABC123"
                      },
                      "custom": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Send any additional, customer-specific data for this consumer in this field."
                      }
                    }
                  }
                },
                "channel": {
                  "$ref": "#/components/schemas/Channel"
                },
                "line_of_business": {
                  "$ref": "#/components/schemas/LineOfBusiness"
                },
                "ip_address": {
                  "$ref": "#/components/schemas/IPAddress"
                },
                "external_device": {
                  "$ref": "#/components/schemas/Device"
                },
                "custom": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Use this field to send any additional, customer-specific data relevant to the evaluation."
                }
              }
            }
          }
        },
        "Individual": {
          "type": "object",
          "description": "Represents core information about the primary individual consumer.",
          "properties": {
            "id": {
              "type": "string",
              "description": "Maps to the `userId` in  enrichments or a customer’s internal identifier.  Can be enabled as a searchable field in RiskOS™ Dashboard.",
              "example": "9876543"
            },
            "given_name": {
              "type": "string",
              "description": "The consumer's given name.",
              "example": "Dwayne",
              "maxLength": 240
            },
            "family_name": {
              "type": "string",
              "description": "The consumer's family name.",
              "example": "Denver",
              "maxLength": 240
            },
            "suffix": {
              "type": "string",
              "description": "A suffix for the consumer's name, if applicable (e.g., Jr., Sr., III).",
              "example": "JR."
            },
            "national_id": {
              "type": "string",
              "description": "The consumer's national identification number. For US consumers, this can be a nine-digit Social Security Number (SSN) or Individual Tax Identification Number (ITIN). Partial SSNs (last four digits) are also accepted. Hyphens are optional.\n",
              "example": "461118208"
            },
            "date_of_birth": {
              "type": "string",
              "format": "date",
              "description": "The consumer's date of birth in the format YYYY-MM-DD, compliant with RFC 3339.",
              "example": "1975-04-02"
            },
            "email": {
              "type": "string",
              "description": "The consumer's email address.",
              "example": "john.doe@example.com"
            },
            "alternate_email": {
              "type": "string",
              "description": "The consumer's alternate email address.",
              "example": "doe.john@example.com"
            },
            "phone_number": {
              "type": "string",
              "description": "The consumer’s phone number. The API accepts E.164 format (e.g., `+12025550147`) but tolerates hyphens and spaces for user convenience.\nExample formats:\n- United States: `+13475550100`\n- United Kingdom: `+447911123456`\n- Brazil: `+5511987654321`\n- India: `+919876543210`\n- Australia: `+61412345678`\n",
              "example": "+1-202-555-0147"
            },
            "alternate_phone_number": {
              "type": "string",
              "description": "The consumer’s alternate phone number. The API accepts E.164 format (e.g., `+12025550147`) but tolerates hyphens and spaces for user convenience.\n",
              "example": "+1-555-202-0147"
            },
            "gender": {
              "type": "string",
              "enum": [
                "Male",
                "Female",
                "Self Identify"
              ],
              "description": "The consumer's gender.\n",
              "example": "Male"
            },
            "address": {
              "$ref": "#/components/schemas/Address"
            },
            "account": {
              "$ref": "#/components/schemas/Account"
            },
            "docv": {
              "$ref": "#/components/schemas/Docv"
            },
            "additional_context": {
              "$ref": "#/components/schemas/AdditionalContext"
            },
            "di_session_token": {
              "type": "string",
              "description": "Token required to extract Device Intelligence (DI) signals.",
              "example": "SESSION-ABC123"
            },
            "custom": {
              "type": "object",
              "additionalProperties": true,
              "description": "Send any additional, customer-specific data for this consumer in this field."
            }
          }
        },
        "GenericPassthrough": {
          "title": "Generic Passthrough",
          "type": "object",
          "description": "Schema for a generic pass-through evaluation flow. Typically used when the goal is to retrieve Socure module data without applying a full risk evaluation.\n",
          "required": [
            "workflow",
            "id",
            "timestamp",
            "data"
          ],
          "properties": {
            "workflow": {
              "type": "string",
              "example": "generic_passthrough",
              "description": "Your environment-specific workflow identifier. You can find this value in the RiskOS™ Dashboard."
            },
            "id": {
              "type": "string",
              "description": "Required, customer-defined unique identifier for the request. <br /><br /> This value must be unique for each evaluation. Reusing an ID causes RiskOS™ to treat the request as a re-run and can impact processing behavior, results, and downstream workflows.",
              "example": "genr-12345"
            },
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "description": "The timestamp indicating when the evaluation was initiated, in ISO 8601 / RFC 3339 format.\n",
              "example": "2022-09-01T12:34:56.789Z"
            },
            "data": {
              "type": "object",
              "description": "The main payload for the Pass-Through workflow.",
              "properties": {
                "individual": {
                  "$ref": "#/components/schemas/Individual"
                },
                "modules": {
                  "type": "array",
                  "description": "A list of activated modules to be included in the evaluation.",
                  "items": {
                    "type": "string"
                  }
                },
                "channel": {
                  "$ref": "#/components/schemas/Channel"
                },
                "line_of_business": {
                  "$ref": "#/components/schemas/LineOfBusiness"
                },
                "ip_address": {
                  "$ref": "#/components/schemas/IPAddress"
                }
              }
            }
          }
        },
        "TrustAndSafety": {
          "title": "Trust and Safety",
          "type": "object",
          "required": [
            "workflow",
            "id",
            "timestamp",
            "data"
          ],
          "properties": {
            "workflow": {
              "type": "string",
              "description": "Your environment-specific workflow identifier. You can find this value in the RiskOS™ Dashboard.",
              "example": "trust_and_safety"
            },
            "id": {
              "type": "string",
              "description": "Required, customer-defined unique identifier for the request. <br /><br /> This value must be unique for each evaluation. Reusing an ID causes RiskOS™ to treat the request as a re-run and can impact processing behavior, results, and downstream workflows.",
              "example": "TS-REQ-123456"
            },
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "description": "The timestamp indicating when the evaluation was initiated, in ISO 8601 / RFC 3339 format.\n",
              "example": "2022-09-01T12:34:56.789Z"
            },
            "data": {
              "type": "object",
              "description": "The main payload for the Trust and Safety workflow.",
              "required": [
                "event_type"
              ],
              "properties": {
                "event_type": {
                  "type": "string",
                  "description": "Specifies the specific event type being tracked for a user, such as `identity_verification`, `document_submission`, or `badge_request`.",
                  "example": "identity_verification"
                },
                "event_category": {
                  "type": "string",
                  "description": "Represents the category of the event occurring on a user profile or account within the context of Trust and Safety verification processes.",
                  "enum": [
                    "verification",
                    "authentication",
                    "action",
                    "update"
                  ]
                },
                "individual": {
                  "$ref": "#/components/schemas/Individual"
                },
                "ip_address": {
                  "$ref": "#/components/schemas/IPAddress"
                },
                "external_device": {
                  "$ref": "#/components/schemas/Device"
                },
                "custom": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Include any additional customer-specific data relevant to the Trust and Safety evaluation in this field."
                },
                "channel": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          }
        },
        "BankAccountVerification": {
          "title": "Bank Account Verification",
          "type": "object",
          "required": [
            "workflow",
            "id",
            "timestamp",
            "data"
          ],
          "properties": {
            "workflow": {
              "type": "string",
              "description": "Your environment-specific workflow identifier. You can find this value in the RiskOS™ Dashboard.",
              "example": "bank_account_verification"
            },
            "id": {
              "type": "string",
              "description": "Required, customer-defined unique identifier for the request. <br /><br /> This value must be unique for each evaluation. Reusing an ID causes RiskOS™ to treat the request as a re-run and can impact processing behavior, results, and downstream workflows.",
              "example": "BAV-REQ-123456"
            },
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "description": "The timestamp indicating when the evaluation was initiated, in ISO 8601 / RFC 3339 format.\n",
              "example": "2022-09-01T12:34:56.789Z"
            },
            "data": {
              "type": "object",
              "description": "The main payload for the Bank Account Verification workflow.",
              "properties": {
                "individual": {
                  "$ref": "#/components/schemas/Individual"
                },
                "ip_address": {
                  "$ref": "#/components/schemas/IPAddress"
                },
                "additional_context": {
                  "$ref": "#/components/schemas/AdditionalContext"
                },
                "external_device": {
                  "$ref": "#/components/schemas/Device"
                },
                "event_category": {
                  "type": "string",
                  "description": "Represents the category of the event occurring on a user profile or account within the context of Bank Account Verification processes.",
                  "enum": [
                    "verification",
                    "authentication",
                    "action",
                    "update"
                  ]
                },
                "event_type": {
                  "type": "string",
                  "description": "Specifies the specific event type being tracked for a user, such as `account_verification`.",
                  "example": "account_verification"
                },
                "custom": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Include any additional customer-specific data relevant to the Bank Account Verification in this field."
                },
                "channel": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          }
        },
        "Formation": {
          "type": "object",
          "required": [
            "entity_type",
            "registration_date",
            "registration_state",
            "registration_country"
          ],
          "properties": {
            "entity_type": {
              "type": "string",
              "description": "business structure",
              "example": "Limited Liability Corporation"
            },
            "registration_date": {
              "type": "string",
              "format": "date",
              "description": "YYYY-MM-DD RFC 3339 date string",
              "example": "2022-07-28"
            },
            "registration_state": {
              "type": "string",
              "description": "State of registration",
              "example": "CA"
            },
            "registration_country": {
              "type": "string",
              "description": "Country of registration",
              "example": "US"
            }
          }
        },
        "BusinessOnboarding": {
          "title": "Business Onboarding",
          "type": "object",
          "required": [
            "workflow",
            "id",
            "timestamp",
            "data"
          ],
          "properties": {
            "workflow": {
              "type": "string",
              "description": "Your environment-specific workflow identifier. You can find this value in the RiskOS™ Dashboard.",
              "example": "business_onboarding"
            },
            "id": {
              "type": "string",
              "description": "Required, customer-defined unique identifier for the request. <br /><br /> This value must be unique for each evaluation. Reusing an ID causes RiskOS™ to treat the request as a re-run and can impact processing behavior, results, and downstream workflows.",
              "example": "BIZ-123456"
            },
            "timestamp": {
              "type": "string",
              "format": "date-time",
              "description": "The timestamp indicating when the evaluation was initiated, in ISO 8601 / RFC 3339 format.\n",
              "example": "2022-09-01T12:34:56.789Z"
            },
            "data": {
              "type": "object",
              "description": "The main payload for the Business Onboarding workflow.",
              "properties": {
                "individual": {
                  "$ref": "#/components/schemas/Individual"
                },
                "additional_individuals": {
                  "type": "array",
                  "description": "A list of other individual consumers associated with the business, such as beneficial owners or authorized signatories.",
                  "items": {
                    "$ref": "#/components/schemas/Individual"
                  }
                },
                "business": {
                  "type": "object",
                  "description": "Information related to the business entity being evaluated.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A unique identifier for the business entity.",
                      "example": "029659c7-733e-444b-9d19-7d119c035bc6"
                    },
                    "name": {
                      "type": "string",
                      "description": "The registered legal name of the business.",
                      "example": "XYZ Inc."
                    },
                    "primary_phone": {
                      "type": "string",
                      "description": "The consumer’s phone number. The API accepts E.164 format (e.g., `+12025550147`) but tolerates hyphens and spaces for user convenience.\nExample formats:\n- United States: `+13475550100`\n- United Kingdom: `+447911123456`\n- Brazil: `+5511987654321`\n- India: `+919876543210`\n- Australia: `+61412345678`\n",
                      "example": "+1-987-654-3210"
                    },
                    "address": {
                      "$ref": "#/components/schemas/Address"
                    },
                    "formation": {
                      "$ref": "#/components/schemas/Formation"
                    },
                    "ein": {
                      "type": "string",
                      "description": "The Employer Identification Number (EIN) of the business.",
                      "example": "XX-1899918"
                    },
                    "additional_addresses": {
                      "type": "array",
                      "description": "Additional addresses associated with the business, such as mailing or branch locations.",
                      "items": {
                        "$ref": "#/components/schemas/Address"
                      }
                    },
                    "website_url": {
                      "type": "string",
                      "description": "The website URL of the business.",
                      "example": "https://effectiv.ai"
                    },
                    "last_fiscal_revenue": {
                      "$ref": "#/components/schemas/Amount"
                    },
                    "account": {
                      "$ref": "#/components/schemas/Account"
                    },
                    "custom": {
                      "type": "object",
                      "description": "Use this field to send any additional, customer-specific data relevant to the business evaluation.",
                      "example": {
                        "key1": "stringValue",
                        "key2": true,
                        "key3": 100,
                        "key4": {
                          "customObjKey1": 200
                        }
                      },
                      "additionalProperties": {}
                    }
                  }
                },
                "ip_address": {
                  "$ref": "#/components/schemas/IPAddress"
                },
                "external_device": {
                  "$ref": "#/components/schemas/Device"
                },
                "custom": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Include any additional, customer-specific data in this field as needed for the evaluation."
                },
                "channel": {
                  "$ref": "#/components/schemas/Channel"
                },
                "line_of_business": {
                  "$ref": "#/components/schemas/LineOfBusiness"
                }
              }
            }
          }
        },
        "AccountTakeover": {
          "title": "Login and Authentication",
          "type": "object",
          "required": [
            "workflow",
            "id",
            "timestamp",
            "data"
          ],
          "properties": {
[...]
